body{
    height: 100vh;
    width: 100vw;
    border: 1px solid green;
    display: inline-block;
}

.heading-container {
    border: 1px solid yellow;
    text-align: center;
    font-family: monospace;
    color: brown;
    font-size: 25px;
    height: 10%;
}

.body-container {
    border: 1px solid black;
    height: 70%;
    display: flex;
}

.plyr-container{
    font-family: monospace;
    text-align: left;
    border: 1px solid blue;
    color: brown;
    width: 20%;
    
}

.board-container {
    text-align: center;
    width: 60%;
    border: 6px solid darkslategrey;
    display: grid;
    grid-template-columns: repeat(7 , auto);
    grid-template-rows: repeat(6 , auto);
}

.grid {
    border: 5px solid grey;
    cursor: pointer;
}
    

/* .button-container {
    width: 50% 
    text-align: right
    margin-bottom : 10%
    padding: .5em .5em
    cursor: pointer
    display :
} */

.msg-container {
    border: 1px solid cyan;
    height: 25%;
}

.button {
    text-align: center;
    margin: auto;
    display: grid;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    padding: 0.5em 0.5em;
    /* justify-items: center; */
}

.button:hover { 
    background-color: gray;
    color: white;
}


.firstPlayer {
    background-color: yellow;
    /* background-image: url("./jerry.png") */
}

.secondPlayer {
    background-color: red;
    /* background-image: url("./tom.png") */
}
