
body{
    height: 100vh;
    width: 100vw;
    border: 1px solid green;
    display: inline-block;
}

.heading-container {
    border: 1px solid yellow;
    text-align: center;
    font-family: monospace;
    color: brown;
    font-size: 25px;
    height: 10%;
}

.body-container {
    border: 1px solid black;
    height: 70%;
    display: flex;
}

.plyr-container{
    font-family: monospace;
    text-align: left;
    border: 1px solid blue;
    color: brown;
    width: 20%;
    text-align: center;
    
}

.board-container {
    text-align: center;
    width: 60%;
    border: 6px solid darkslategrey;
    display: grid;
    grid-template-columns: repeat(7 , auto);
    grid-template-rows: repeat(6 , auto);
}

.grid {
    border: 5px solid grey;
    cursor: pointer;
}
    

.msg-container {
    border: 1px solid cyan;
    height: 25%;
}

.reset-button {
    text-align: center;
    margin: auto;
    display: grid;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    padding: 0.5em 0.5em;
    justify-items: center;
}

.button-container{
    width: 20%;
    
    
}
.button:hover { 
    background-color: gray;
    color: white;
}


.firstPlayer {
    /* background-color: yellow; */
    background-image: url("./jerry.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.secondPlayer {
    /* background-color: red; */
    background-image: url("./tom.png");
    background-size: fixed;
}
